@import "../dist/index.scss";

* {
  margin: 0;
  padding: 0;
}
.test-wsui-layout-fixed-footer {

  > .footer {
    background: #eee;
    line-height: 50px;
    text-align: center;

    button {
      background: #4cd964;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-left: 20px;
      padding: 10px 20px;
    }
  }

  @include wsui-layout-fixed-footer();
}
